<Form action="/api/users" method="post" id="add_user">
    <div class="new_user">
     <div class="form-group">    
         <label for="name" class="text-light">Name</label>
         <input type="hidden" name="id" value="">
         <input type="text" name="name" value="" placeholder="Name...">
     </div>
    </Form>
    <div class="form-group">    
        <label for="Email" class="text-light">Email</label>
        <input type="text" name="email" value="" placeholder="your email id... ">
    </div>