:root
{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: space-between;
}
.search-text
{
    color: #8e2de2;
}
.search{
    margin-left: 10px;
}
a
{
    text-decoration: none;
}
.container
{
    max-width: 1024px;
    margin:auto;
}
.nav-brand
{
    font-size: 1.5em;
    font-weight: bolder;
    text-decoration: underline;
}
.d-flex
{
    display: flex;
    flex-wrap: wrap;
}
.justify-between
{
    justify-content: space-between;
}
.text-center
{
    text-align: center;
}
/* To define the box shadow for the button */
.border-shadow
{
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 10px #e9ecef;
}