:root
{
    --dark:#2b2d42;
    --light:#adb5bd;
    --border:#dee2e6;
    --border-btn:#edf2f4;
}
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: space-between;
}
.search-text
{
    color: #8e2de2;
}
.search{
    margin-left: 10px;
}
a
{
    text-decoration: none;
}